* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* align-items: center; */

    background-color: rgb(145, 144, 144);
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: whitesmoke;
    width: 100%;
    padding: 0.5%;
    text-shadow: -30px 15px 6px rgba(119, 119, 119, 0.764); 
}

#workspace{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2%;

}

#imagem-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 80%;
    background-color: rgb(145, 144, 144);
    flex-direction: column;   
    margin-left: 2%; 

}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    width: 20%;
}

#button1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    margin: 0px; 
    background-color: transparent;
    cursor: pointer;
}

#button2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    margin: 0px; 
    background-color: transparent;
    cursor: pointer;

}

#art{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99.1%;

}

#image-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 99%;
    object-fit: contain;
    box-shadow: -30px 50px 8px rgba(119, 119, 119, 0.764); 
    border: 0.1px solid black;
    border-radius: 4px; 

}

.art{
    object-fit: scale-down;
    max-width: 100%;
}

#info{
    display: flex;
    flex-direction: column;
    width: 30%;

}

#info-title{
    text-align: center;
    color: whitesmoke;
}

#information-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 4%;
    background-color: rgb(41,134,204);
    border: 0.1px solid black;
    border-radius: 4px;
    box-shadow: -20px 50px 8px rgba(119, 119, 119, 0.764); 

}

#art-details{
    display: flex;
    flex-direction: column;
}

#art-name{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    padding-left: 2%;
    border: 0.1px solid black;
    border-radius: 4px;
    box-shadow: -20px 50px 8px rgba(119, 119, 119, 0.764); 
    background-color: rgb(41,134,204);


}

#artName-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2%;
}

#name-art{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 2%;
    margin-top: 0px;

}

#description{
    display: flex;
    border: 0.1px solid black;
    border-radius: 4px; 
    box-shadow: -20px 50px 8px rgba(119, 119, 119, 0.764); 
    flex-direction: column;
    text-align: start;
    background-color: rgb(41,134,204);
}

#description-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2%; 
}

#description-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 2%;
    text-indent: 5%;
    font-size: 120%;
}


#artist-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3%;
    width: 100%;
}

#artist-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: lightcoral;
    border: 0.1px solid black;
    border-radius: 4px;
    box-shadow: -20px 50px 8px rgba(119, 119, 119, 0.764); 
}

#artistName-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 2%;
}


#art-location{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: lightcoral;
    border: 0.1px solid black;
    border-radius: 4px;
    box-shadow: -20px 50px 8px rgba(119, 119, 119, 0.764); 

}

#location-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 2%;
}
#location{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 2%;
}

#name{
    margin: 0px;
    padding: 2%;
}

#location{
    padding-left: 2%;
}


#moreInfoButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#moreInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    width: 50%;
    cursor: pointer;
    border: 0.1px solid black;
    border-radius: 4px;
    box-shadow: -20px 20px 8px rgba(119, 119, 119, 0.764); 

}
 

.hidden {
    display: none;
    align-items: center;
    background-color: lightblue;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    border: 1px solid black;
}

#detail1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 2%;

}